h1 #{title} demo

header Organizations

form(action='/organizations/new', method='post')
	input(type='text', name='title', placeholder='organization')
	input(type='text', name='name', placeholder='contact')
	input(type='submit', value='add')

#organizations
	- for o in orgs
		div
			a(href='/organizations/#{o._id}')= o.title
			- if (o.contacts.length)
				a(href="/contacts/#{o.contacts[0]._id}") #{o.contacts[0].name_full}
			a(href="/organizations/#{o._id}/delete") remove
